/* Document Colors and Basic Color Definitions */
.white {
  color: #ffffff; }

.dark {
  color: #333333; }

.medgray {
  color: #888; }

/* Basic Typography, body and headers */
a {
  text-decoration: none;
  color: white; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2.2rem;
  /* 24px */
  font-weight: 700; }

h2 {
  font-size: 2rem;
  /* 20px */
  font-weight: 700; }

h3 {
  font-size: 2.4rem;
  font-weight: 400; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

h5 {
  font-size: 1.6rem;
  font-weight: 400; }

h6 {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase; }

.bold {
  font-weight: 700; }

/* Page Structure */
html {
  font-size: 62.5%;
  /* ~10px */ }

body {
  background-color: #333333;
  background: repeating-linear-gradient(45deg, #808080, #808080 3px, #919191 3px, #919191 6px);
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  /* 14px */
  font-weight: 400; }

.window {
  background-color: #F7F7F7;
  height: 100vh;
  margin: 0;
  min-height: 500px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%; }
  @media screen and (min-width: 500px) {
    .window {
      border-radius: 45px;
      height: 560px;
      margin: 10px auto;
      position: relative;
      width: 360px;
      border-left: 15px solid #333333;
      border-right: 15px solid #333333;
      border-top: 60px solid #333333;
      border-bottom: 55px solid #333333; } }

.window-contents {
  height: 100vh;
  padding-top: 30px; }
  @media screen and (min-width: 500px) {
    .window-contents {
      height: 540px;
      padding-top: 55px; } }

.window-contents.wc2 {
  padding-top: 50px; }
  @media screen and (min-width: 500px) {
    .window-contents.wc2 {
      padding-top: 75px; } }

.page-content {
  padding-bottom: 5px; }

/* Header */
img.phone-top {
  display: none; }
  @media screen and (min-width: 500px) {
    img.phone-top {
      display: initial;
      margin-top: -1px;
      position: absolute;
      width: 100%;
      z-index: 1000; } }

.large_header {
  background-color: #2BBDD0;
  height: 35px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000; }
  .large_header img {
    padding-top: 6px;
    padding-left: 10px;
    width: 35%; }
  .large_header i {
    display: inline-block;
    float: right;
    padding-top: 4px;
    padding-right: 20px; }
  @media screen and (min-width: 500px) {
    .large_header {
      top: 22px; }
      .large_header img {
        padding-left: 10px;
        padding-top: 6px;
        width: 35%; }
      .large_header i {
        display: inline-block;
        float: right;
        padding-top: 4px;
        padding-right: 12px; } }

.truck-header {
  background-color: #333333;
  border-top: 10px solid #2BBDD0;
  height: 45px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2000; }
  .truck-header h1 {
    display: inline-block;
    padding: 10px;
    padding-left: 10px; }
  .truck-header i {
    color: #d81b60;
    display: inline-block;
    position: absolute;
    text-align: right;
    top: 15px; }
  .truck-header img {
    position: absolute;
    top: 14px;
    right: 10px; }
  @media screen and (min-width: 500px) {
    .truck-header {
      top: 22px; } }

/* Footer */
.gen-footer {
  background-color: #2BBDD0;
  bottom: 0;
  height: 45px;
  position: absolute;
  width: 100%;
  z-index: 1600; }
  .gen-footer .checkout,
  .gen-footer .total {
    float: left;
    overflow: hidden;
    padding-top: 11px;
    text-align: center;
    width: 39%; }
  .gen-footer .checkout {
    background-color: #69C96A;
    float: right;
    padding-bottom: 11px; }
  .gen-footer .checkout:hover {
    background-color: #86CC87; }
  .gen-footer .rt-home {
    float: left;
    font-size: .9rem;
    padding-top: 3px;
    text-transform: uppercase;
    text-align: center;
    width: 18%; }
    @media screen and (min-width: 500px) {
      .gen-footer .rt-home {
        font-weight: 100;
        font-size: .6em;
        text-transform: none; } }
    .gen-footer .rt-home img {
      padding-bottom: 2px; }
  .gen-footer .complete {
    background-color: #333333;
    float: right;
    height: 45px;
    overflow: hidden;
    padding-bottom: 7px;
    text-align: center;
    width: 78%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
    .gen-footer .complete .favorites {
      float: left;
      margin-top: 6px;
      padding-left: 15px; }
      .gen-footer .complete .favorites i {
        margin-bottom: 6px; }
  .gen-footer .rate-it {
    float: right;
    margin-top: 7px;
    padding-right: 10px; }
  @media screen and (min-width: 500px) {
    .gen-footer {
      bottom: 45px; } }

.min-footer {
  background-color: #2BBDD0;
  bottom: 0;
  height: 30px;
  position: absolute;
  width: 100%;
  z-index: 1000; }
  @media screen and (min-width: 500px) {
    .min-footer {
      bottom: 45px;
      height: 10px; } }

.phone-nav {
  display: none; }
  @media screen and (min-width: 500px) {
    .phone-nav {
      background-color: #4d4d4d;
      bottom: 0;
      display: initial;
      position: absolute;
      width: 100%;
      z-index: 1000; } }

/* Button */
.button {
  background-color: #2BBDD0;
  border-radius: 3px;
  margin: 20px auto;
  padding: 10px 0;
  width: 90%;
  text-align: center; }

.button:hover {
  background-color: #86CC87; }

/* Map */
#map-canvas {
  min-height: 250px;
  width: 100%; }

.map-container {
  margin-bottom: 2%;
  position: relative; }

.map-label {
  background-color: rgba(51, 51, 51, 0.95);
  bottom: 0;
  margin-top: -40px;
  position: absolute;
  width: 100%;
  z-index: 2; }
  .map-label h1 {
    display: inline-block;
    padding: 10px; }
  .map-label i {
    color: #d81b60;
    display: inline-block;
    position: absolute;
    text-align: right;
    top: 16px; }

/* List of Trucks on homepage */
.truck-list {
  padding-bottom: 10px;
  margin-top: 10px; }
  .truck-list h5 {
    display: inline-block; }
  .truck-list .name {
    display: inline-block;
    padding-left: 10px; }
  .truck-list .distance {
    display: inline-block;
    float: right;
    padding-right: 10px; }

.selected,
.unselected {
  background-color: #2BBDD0;
  width: 100%;
  padding: 15px 0;
  margin: 5px 0; }

.unselected {
  background-color: #86CC87; }

.truck-list div:first-child {
  margin-top: 0; }

/* Truck Detail Page */
.truck-detail {
  padding: 5px 10px; }
  .truck-detail p {
    margin-top: 1rem;
    margin-bottom: 1rem; }

/* Menu */
.menu {
  padding-bottom: 45px; }

.menu-top {
  width: 100%;
  display: flex;
  flex-wrap: flex;
  height: 160px;
  overflow: hidden; }

.menu-photo {
  width: 60%; }

.menu-asides {
  background-color: #2BBDD0;
  width: 40%;
  text-align: center;
  padding: 10px; }
  .menu-asides div {
    padding: 10px; }
  .menu-asides div:first-child {
    border-bottom: 1px solid #ffffff; }

.menu-bottom {
  width: 95%;
  margin: 10px auto;
  padding-left: 15px; }
  .menu-bottom td {
    padding: 5px; }
  .menu-bottom .col1 {
    width: 80%; }
  .menu-bottom .col2 {
    width: 20%;
    padding-left: 15px; }

/* Cart */
.cart {
  margin: 40px auto;
  width: 95%; }
  .cart .col1 {
    width: 75%; }
  .cart .col2 {
    font-weight: 700;
    text-align: right;
    width: 25%; }
  .cart em > a {
    color: #cccccc; }
  .cart h5 {
    margin-top: 20px;
    text-align: center; }

.tip {
  background-color: #ffffff;
  border: 1px solid #cccccc; }

.total {
  font-weight: 700; }

.sums {
  border-top: 1px solid #333333;
  margin-top: 30px;
  text-transform: uppercase;
  width: 100%; }
  .sums td {
    padding-top: 10px; }

/* Order Complete / Thank you */
.thanks {
  padding: 20px;
  margin-top: 15px; }
  .thanks img {
    width: 100%; }

/* Sign In */
.signin {
  padding-top: 10px; }
  .signin form {
    margin: 0 auto;
    width: 265px; }
    .signin form input {
      border: 1px solid #cccccc;
      border-radius: 3px;
      font-size: 1.5rem;
      height: 40px;
      margin-bottom: 15px;
      margin-left: -5px;
      padding-left: 5px;
      width: 100%; }
    .signin form input[type="submit"] {
      border: 0;
      margin-top: -5px;
      margin-left: 0px; }
  .signin h4 {
    background-color: #333333;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
    width: 100%; }
  .signin .signin-toggle-group {
    margin: 25px auto 30px auto;
    width: 265px; }
  .signin a {
    background-color: #69C96A;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: -5px;
    padding: 10px 15px; }
  .signin a:hover {
    background-color: #86CC87; }
  .signin .active {
    border: 4px solid #2BBDD0; }
