/* Document Colors and Basic Color Definitions */
.white {
  color: #ffffff; }

.dark {
  color: #333333; }

/* Basic Typography, body and headers */
a {
  text-decoration: none;
  color: white; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2.2rem;
  /* 24px */
  font-weight: 700; }

h2 {
  font-size: 2rem;
  /* 20px */
  font-weight: 700; }

h3 {
  font-size: 2.4rem;
  font-weight: 400; }

h4 {
  font-size: 2rem;
  font-weight: 400; }

h5 {
  font-size: 1.6rem;
  font-weight: 400; }

h6 {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase; }

.bold {
  font-weight: 700; }

/* Page Structure */
html {
  font-size: 62.5%;
  /* ~10px */ }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  /* 14px */
  font-weight: 400;
  background-color: #333333;
  background: repeating-linear-gradient(45deg, #808080, #808080 3px, #919191 3px, #919191 6px); }

::-webkit-scrollbar {
  width: 10px;
  height: 1px; }

::-webkit-scrollbar-thumb {
  background: #adadad; }

::-webkit-scrollbar-track {
  background: #eaeaea; }

body {
  scrollbar-face-color: #adadad;
  scrollbar-track-color: #eaeaea; }

.window {
  background-color: #eaeaea;
  height: 100vh;
  min-height: 500px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%; }
  @media screen and (min-width: 500px) {
    .window {
      border-radius: 5px;
      height: 640px;
      margin: 10px auto;
      position: relative;
      width: 360px; } }

.large_header {
  background-color: #2d3f8c;
  border-bottom: 10px solid #333333;
  height: 7%;
  width: 100%; }
  @media screen and (min-width: 500px) {
    .large_header {
      border-radius: 5px 5px 0 0; } }
  .large_header img {
    padding: 5px;
    padding-top: 8px;
    width: 35%; }
    @media screen and (min-width: 500px) {
      .large_header img {
        padding-top: 12px;
        padding-left: 12px; } }

.truck-header {
  background-color: #333333;
  border-top: 10px solid #2d3f8c;
  width: 100%; }
  .truck-header h1 {
    padding: 10px;
    padding-left: 10px;
    display: inline-block; }
  .truck-header i {
    color: #d81b60;
    text-align: right;
    display: inline-block;
    position: absolute;
    top: 25px; }
  .truck-header img {
    position: absolute;
    top: 23px;
    right: 10px; }

.gen-footer {
  background-color: #2d3f8c;
  height: 45px;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px; }
  .gen-footer i {
    margin-bottom: 5px;
    margin-top: 10px; }
  .gen-footer .search-trucks,
  .gen-footer .my-account,
  .gen-footer .checkout,
  .gen-footer .total,
  .gen-footer .rt-home {
    width: 39%;
    text-align: center;
    height: 45px;
    float: left; }
  .gen-footer .rt-home {
    width: 18%;
    margin-top: 6px;
    margin-left: 2px; }
  .gen-footer .my-account,
  .gen-footer .checkout {
    float: right; }
  .gen-footer .checkout,
  .gen-footer .total {
    height: 100%;
    padding-top: 8px;
    padding-bottom: 10px; }
  .gen-footer .total {
    margin-bottom: 5px;
    margin-top: 8px;
    padding-left: 5px; }
  .gen-footer .checkout {
    background-color: #4caf50; }
  .gen-footer .complete {
    background-color: #333333;
    width: 78%;
    float: right;
    padding-bottom: 12px;
    text-align: center; }
    .gen-footer .complete .favorites {
      float: left;
      padding-left: 10px;
      margin-top: 2px; }
    .gen-footer .complete .rate-it {
      float: right;
      padding-right: 10px;
      margin-top: 10px; }
  @media screen and (min-width: 500px) {
    .gen-footer {
      border-radius: 0 0 5px 5px; } }

.min-footer {
  background-color: #2d3f8c;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0; }
  @media screen and (min-width: 500px) {
    .min-footer {
      border-radius: 0 0 5px 5px; } }

.button {
  background-color: #4caf50;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px 0px #81c784;
  -moz-box-shadow: 0px 1px 1px 0px #81c784;
  box-shadow: 0px 1px 1px 0px #81c784;
  margin: 20px auto;
  padding: 10px 0;
  width: 90%;
  text-align: center; }

.button:hover {
  background-color: #81c784; }

/* Map */
#map-canvas {
  height: 100%;
  width: 100%;
  z-index: 800; }

.map-container {
  height: 45%;
  margin-bottom: 2%; }

.one-truck {
  height: 40%; }

.map-label {
  background-color: rgba(51, 51, 51, 0.95);
  margin-top: -40px;
  position: absolute;
  z-index: 1000;
  width: 100%; }
  .map-label h1 {
    padding: 10px;
    padding-left: 10px;
    display: inline-block; }
  .map-label i {
    color: #d81b60;
    text-align: right;
    display: inline-block;
    position: absolute;
    top: 16px; }

/* List of Trucks on homepage */
.truck-list {
  height: 28%;
  overflow-y: auto;
  padding-bottom: 20px;
  margin-top: 10px; }
  @media screen and (min-width: 375px) {
    .truck-list {
      height: 33%; } }
  .truck-list h5 {
    display: inline-block; }
  .truck-list .name {
    display: inline-block;
    padding-left: 10px; }
  .truck-list .distance {
    display: inline-block;
    float: right;
    padding-right: 10px; }

.selected,
.unselected {
  background-color: #2d3f8c;
  width: 100%;
  padding: 10px 0;
  margin: 5px 0; }

.unselected {
  background-color: #81c784; }

.truck-list div:first-child {
  margin-top: 0; }

/* Truck Detail Page */
.truck-detail {
  overflow-y: auto;
  padding: 5px 10px; }
  .truck-detail p {
    margin-top: 1rem;
    margin-bottom: 1rem; }

/* Menu */
.menu-top {
  width: 100%;
  display: flex;
  flex-wrap: flex;
  height: 160px;
  overflow: hidden; }

.menu-photo {
  width: 50%; }

.menu-asides {
  background-color: #2d3f8c;
  width: 50%;
  text-align: center;
  padding: 10px; }
  .menu-asides div {
    padding: 10px; }
  .menu-asides div:first-child {
    border-bottom: 1px solid #ffffff; }

.menu-bottom {
  height: 45%;
  overflow-y: auto;
  width: 95%;
  margin: 10px auto;
  padding-left: 15px; }
  @media screen and (min-width: 375px) {
    .menu-bottom {
      height: 55%; } }
  .menu-bottom td {
    padding: 5px; }
  .menu-bottom .col1 {
    width: 80%; }
  .menu-bottom .col2 {
    width: 20%;
    padding-left: 15px; }

/* Cart */
.cart {
  width: 95%;
  margin: 20px auto; }
  .cart .col1 {
    width: 75%; }
  .cart .col2 {
    width: 25%;
    font-weight: 700;
    text-align: right; }

.tip {
  border: 1px solid #333333; }

.total {
  font-weight: 700; }

.sums {
  width: 100%;
  text-transform: uppercase;
  margin-top: 30px;
  border-top: 1px solid #333333; }
  .sums td {
    padding-top: 10px; }

/* Order Complete / Thank you */
.thanks {
  padding: 20px; }
  .thanks img {
    width: 100%; }
