$blue: #2BBDD0;
$dkblue: #2BBDD0;
$green1: #69C96A;
$green2: #86CC87;
$dkgray: #333333;
$medgray: #cccccc;
$ltgray: #F7F7F7;
$orange: #ff7935;
$yellow: #ffea99;
$white: #ffffff;
$pink: #d81b60;

.white {
  color: $white;
}

.dark {
  color: $dkgray;
}

.medgray {
  color: #888;
}