$blue: #2d3f8c;
$green1: #4caf50;
$green2: #81c784;
$dkgray: #333333;
$medgray: #adadad;
$ltgray: #eaeaea;
$orange: #ff9800;
$yellow: #ffea99;
$white: #ffffff;

.white {
  color: $white;
}

.dark {
  color: $dkgray;
}