.gen-footer {
  background-color: $blue;
  bottom: 0;
  height: 45px;
  position: absolute;
  width: 100%;
  z-index: 1600;

  .checkout,
  .total {
    float: left;
    overflow: hidden;
    padding-top: 11px;
    text-align: center;
    width: 39%;
  }

  .checkout {
    background-color: $green1;
    float: right;
    padding-bottom: 11px;
  }

  .checkout:hover {
    background-color: $green2;
  }

  .rt-home {
    float: left;
    font-size: .9rem;
    padding-top: 3px;
    text-transform: uppercase;
    text-align: center;
    width: 18%;
    @media screen and (min-width: $smbreak) {
      font-weight: 100;
      font-size: .6em;
      text-transform: none;
    }

    img {
      padding-bottom: 2px;
    }
  }

  .complete {
    background-color: $dkgray;
    float: right;
    padding-bottom: 12px;
    text-align: center;
    width: 78%;
    
    .favorites {
      float: left;
      margin-top: 2px;
      padding-left: 15px;
    }
  }

  .rate-it {
    float: right;
    margin-top: 10px;
    padding-right: 10px;
  }

  @media screen and (min-width: $smbreak) {
    bottom: 45px; 
  }
}

.min-footer {
  background-color: $blue;
  bottom: 0;
  height: 30px;
  position: absolute;
  width: 100%;
  z-index: 1000;

  @media screen and (min-width: $smbreak) {
    bottom: 45px; 
    height: 10px;
  }
}

.phone-nav {
  display: none;

  @media screen and (min-width: $smbreak) {
    background-color: #4d4d4d;
    bottom: 0;
    display: initial;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
}