#map-canvas {
  min-height: 250px;
  width: 100%;
  
}

.map-container {
  margin-bottom: 2%;
  position: relative;
}

.map-label {
  background-color: rgba($dkgray, .95);
  bottom: 0;
  margin-top: -40px;
  position: absolute;
  width: 100%;
  z-index: 2;

  h1 {
    display: inline-block;
    padding: 10px;
  }

  i {
    color: $pink;
    display: inline-block; 
    position: absolute;
    text-align: right; 
    top: 16px;
  }
}
