#map-canvas {
  min-height: 250px;
  width: 100%;
  
}

.map-container {
  margin-bottom: 2%;
  position: relative;
}

.search-line {
  width: 100%;
}

.search-box {
  border: none;
  display: none;
  font-size: 1.2em;
  height: 40px;
  left: 0;
  margin-top: -85px;
  padding-left: 10px;
  position: absolute;
  width: 100%;
}

.search-box:focus {
  outline: 0;
}

.show-search {
  display: initial;
}

.search,
.location {
  background-color: rgba($dkgray, .85);
  height: 40px;
  margin-top: -85px;position: absolute;
  right: 0;
  width: 43px;
  z-index: 4;

  i {
    margin-left: 13px;
    margin-top: 13px;
  }
}

.location {
  margin-top: -125px;
}

.map-label {
  background-color: rgba($dkgray, .95);
  bottom: 0;
  margin-top: -40px;
  position: absolute;
  width: 100%;
  z-index: 2;

  h1 {
    display: inline-block;
    padding: 10px;
  }

  i {
    color: $pink;
    display: inline-block; 
    position: absolute;
    text-align: right; 
    top: 16px;
  }
}
