$smbreak: 500px;

html { 
  font-size: 62.5%;   /* ~10px */
} 

body {
  font-family: $Roboto;
  font-size: 1.4rem; /* 14px */
  font-weight: 400;
  background-color: $dkgray;
  background: repeating-linear-gradient(
    45deg,
    #808080,
    #808080 3px,
    #919191 3px,
    #919191 6px
  );
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  ::-webkit-scrollbar {
      width:  10px;
      height: 1px;
  }

  ::-webkit-scrollbar-thumb {
      background: $medgray;
  }

  ::-webkit-scrollbar-track {
      background: $ltgray;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $medgray;
    scrollbar-track-color: $ltgray;
  }
}

@include scrollbars(.5em, slategray);

.window {
  background-color: $ltgray;
  height: 100vh;
  min-height: 500px;
  margin: 0;
  overflow: hidden;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width: 100%;
  @media screen and (min-width: $smbreak) {
    border-radius: 5px;
    height: 640px;
    margin: 10px auto;
    position: relative;
    width: 360px;
  }
}

.large_header {
  background-color: $blue;
  border-bottom: 10px solid $dkgray;
  height: 7%;
  width: 100%;
  @media screen and (min-width: $smbreak) {
    border-radius: 5px 5px 0 0;
  }
  img {
    padding: 5px;
    padding-top: 8px;
    width: 35%;
    @media screen and (min-width: $smbreak) {
      padding-top: 12px;
      padding-left: 12px;
    }
  }
}

.truck-header {
  background-color: $dkgray;
  border-top: 10px solid $blue;
  width: 100%;
  h1 {
    padding: 10px;
    padding-left: 10px;
    display: inline-block;
  }
  i {
    color: $pink;
    text-align: right;
    display: inline-block;  
    position: absolute;
    top: 25px;
  }
  img {
    position: absolute;
    top: 23px;
    right: 10px;
  }
}

.gen-footer {
  background-color: $blue;
  height: 45px;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  i {
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .search-trucks,
  .my-account,
  .checkout,
  .total,
  .rt-home {
    width: 39%;
    text-align: center;
    height: 45px;
    float: left;
  }

  .rt-home {
    width: 18%;
    margin-top: 6px;
    margin-left: 2px;
  }

  .my-account,
  .checkout {
    float: right;
  }

  .checkout,
  .total {
    height: 100%;
    padding-top: 8px;
    padding-bottom: 10px;
  }

  .total {
    margin-bottom: 5px;
    margin-top: 8px;
    padding-left: 5px;
  }

  .checkout {
    background-color: $green1;
  }

  .complete {
    background-color: $dkgray;
    width: 78%;
    float: right;
    padding-bottom: 12px;
    text-align: center;
    .favorites {
      float: left;
      padding-left: 10px;
      margin-top: 2px;
    }
    .rate-it {
      float: right;
      padding-right: 10px;
      margin-top: 10px;
    }
  }



  @media screen and (min-width: $smbreak) {
    border-radius: 0 0 5px 5px;
  }
}

.min-footer {
  background-color: $blue;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  @media screen and (min-width: $smbreak) {
    border-radius: 0 0 5px 5px;
  }
}

.button {
  background-color: $green1;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(129,199,132,1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(129,199,132,1);
  box-shadow: 0px 1px 1px 0px rgba(129,199,132,1);
  margin: 20px auto;
  padding: 10px 0;
  width: 90%;
  text-align: center;
}

.button:hover {
  background-color: $green2;
}