$smbreak: 500px;

html { 
  font-size: 62.5%;   /* ~10px */
} 

body {
  background-color: $dkgray;
  background: repeating-linear-gradient(
    45deg,
    #808080,
    #808080 3px,
    #919191 3px,
    #919191 6px
  );
  font-family: $Roboto;
  font-size: 1.4rem; /* 14px */
  font-weight: 400;
}

.window-contents {
  background-color: $ltgray;
  margin: 0;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 20px;
  @media screen and (min-width: $smbreak) {
    padding-top: 55px;
    padding-bottom: 50px;
    border-radius: 45px;
    height: 500px;
    margin: 10px auto;
    position: relative;
    width: 360px;
    border-left: 15px solid $dkgray;
    border-right: 15px solid $dkgray;
    border-top: 60px solid $dkgray;
    border-bottom: 55px solid $dkgray;
  }
}

.window-contents.wc2 {
  padding-top: 55px;
  padding-bottom: 45px;
  @media screen and (min-width: $smbreak) {
    height: 440px;
    padding-top: 77px;
    padding-bottom: 87px;
  }
}

/* Header */
@import 'header';


/* Footer */
@import 'footer';

/* Button */
.button {
  background-color: $green1;
  border-radius: 3px;
  margin: 20px auto;
  padding: 10px 0;
  width: 90%;
  text-align: center;
}

.button:hover {
  background-color: $green2;
}

