.truck-list {
  height: 28%;
  overflow-y: auto;
  padding-bottom: 20px;
  margin-top: 10px;
  @media screen and (min-width: 375px) {
    height: 33%;
  }
  h5 {
    display: inline-block;
  }
  .name {
    display: inline-block;
    padding-left: 10px;
  }
  .distance {
    display: inline-block;
    float: right;
    padding-right: 10px;
  }
}

.selected, 
.unselected {
  background-color: $blue;
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
}

.unselected {
  background-color: $green2;
}

.truck-list div:first-child {
  margin-top: 0;
}


