$Roboto: 'Roboto', sans-serif;

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.2rem; /* 24px */
  font-weight: 700;
}

h2 {
  font-size: 2rem; /* 20px */
  font-weight: 700;
}

h3 {
  font-size: 2.4rem;
  font-weight: 400;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

h5 {
  font-size: 1.6rem;
  font-weight: 400;
}

h6 {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}


